<html>

<head>
    <title>
        Server info
    </title>
</head>

<body>
    <h3>
        Server info
    </h3>
    <h2>
        Total rooms: <%= roomNo %><br />
            Total sockets in Room <%= roomNo %>: <%= data %>
    </h2>
</body>

</html>